{% set faqCategory = __SELF__.faqCategory %}

{% if faqCategory.faqs.count > 0 %}

    <hero
        background-image="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media | resize(640,null, {blur: 15 })}}"
background-image-data="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media }}"
    >
        <h1 class="hero-title text-uppercase m-auto align-self-center text-accent">{{faqCategory.name}}</h1>
    </hero>
    <div class="d-flex col-12 justify-content-center py-4 my-5">
    <accordian-view v-slot="{accordianCtrl}" :show-all="false" :toggle-mode="true">

    {% for index,faq in faqCategory.faqs %}
            <accordian :show="accordianCtrl.isActive({{index}})" @click="accordianCtrl.show({{index}})">
                <template slot="header">
                    Question: {{faq.question}}
                </template>
                Answer: {{faq.answer | raw }}
            </accordian>
    {% endfor %}

    </accordian-view>
    </div>

{% else %}
    <p>There is no faqs right now</p>

{% endif %}
