

{%  if producerCategories  %}
    {% for producerCategory in producerCategories %}
        <div class="d-flex flex-row align-items-center" id="{{ producerCategory.name }}">
            <img height="50px" width="50px" src="{{ producerCategory.icon.getThumb(50,50,{mode: 'fit'}) }}" alt="Icon of {{  producerCategory.name }}">
            <h5 class="my-auto text-primary font-weight-bold text-uppercase heading mx-3">
                {{ producerCategory.name }}
            </h5>
        </div>

        {% if producerCategory.producers is not empty %}
            <div class="d-flex flex-row justify-content-start flex-wrap my-3 ">
                {% for producer in producerCategory.producers %}
                    <a href="{{ __SELF__.getProducerPageUrl(producer.slug) }}" class="col-xl-4 col-lg-6 col-md-6 col-12 d-flex justify-content-center text-decoration-none">
                            <producer-card
                                origin="{{ producer.origin }}"
                                name="{{ producer.name }}"
                                image="{{ producer.featured_image | media |  lazyload(640, 480, {quality: '15', blur : 15})  }}"
                                data-image="{{producer.featured_image | media}}"
                            >

                            </producer-card>
                    </a>
                {% endfor %}
            </div>
        {% else %}


        {% endif %}
    {% endfor %}



{% endif %}
