{% set event =  __SELF__.event %}
<hero>
    <div class="d-flex flex-row align-items-center p-5 mx-auto">
        <calendar
            date-time="{{event.started_at}}"
        >
        </calendar>
        <i class=" fas fa-long-arrow-alt-right"></i>
        <calendar
            date-time="{{event.ended_at}}"
        >
        </calendar>
    </div>
</hero>

<div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="d-flex flex-column p-5 col-12 col-lg-6">
        <h3 class="post-title">{{ event.title }}</h3>
        <p class="post-description">{{ event.description }}</p>
        <hr>
        {{ event.content_html | raw }}
    </div>
    <div class="d-flex flex-column p-5 col-12 col-lg-6">

    <accordion-view v-slot="{accordianCtrl}" :show-all="false" :toggle-mode="true">
            <accordion :show="accordianCtrl.isActive(0)" @click="accordianCtrl.show(0)">
                <template slot="header">
                    <strong><i class="fas fa-folder mx-2"></i> FILE RESOURCES</strong>
                </template>
                <table class="table table-striped">
                    <tr>
                        <th>File Name</th>
                        <th>Uploaded On</th>
                        <th>Actions</th>
                    </tr>
                    {% for index,document in event.documents %}
                        <tr>
                            <td>{{ str_limit(document.filename, 30) }}</td>
                            <td v-text="$tzConverter.convert('{{ document.created_at }}', 'YYYY-MM-DD h:mm a')">

                            </td>
                            <td>
                                <a target="_blank" href="{{ document.path }}" class="btn btn-primary">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </accordion>
    </accordion-view>
    </div>
</div>

