<?php

    use System\Classes\PluginManager;
    use GodSpeed\FlametreeCMS\Plugin;
    $pluginManager = PluginManager::instance();
    $pluginDependencies = new Plugin(app());
    $pluginDependencies = $pluginDependencies->require;




?>




<h3>Plugin Dependencies Boot Check</h3>
<div class="control-status-list">
    <ul>
        <?php foreach($pluginDependencies as $plugin) : ?>
            <?php if($pluginManager->hasPlugin($plugin)) : ?>

        <li>
            <span class="status-icon success"><i class="icon-check"></i></span>
            <span class="status-text success"><?= $plugin ?></span>
            <span class="status-label">Installed</span>

        </li>

            <?php else : ?>
        <li>
            <span class="status-icon warning"><i class="icon-exclamation"></i></span>
            <span class="status-text warning"><?= $plugin ?></span>
            <span class="status-label">Not Installed</span>
        </li>

            <?php endif; ?>



        <?php endforeach; ?>

    </ul>
</div>
