{% set teams = __SELF__.teamMembers %}

{% if teams is not  empty %}
    <div class="d-flex flex-row flex-wrap justify-content-start mx-auto w-75">

        {% for index, team in teams %}
            <div class="col-lg-4 col-md-6 col-12  p-0 d-flex justify-content-center">
                <producer-card
                    width="320px"

                    name="{{ team.full_name }}"
                    subheading="{{ team.role.name }}"
                    background-image="{{ (team.avatar) ? team.avatar | media : '' }}"
                >

                </producer-card>
            </div>

        {% endfor %}
    </div>

{% else %}
    <div class="d-flex justify-content-center flex-column align-items-center">
        <i class="fas fa-users fa-3x text-primary"></i>
        <p class="my-2 w-50 text-center">You don't have any team member right now, if you are a site administrator, you are able to add it by proceeding to the backend administrator management page and assign the role with
            {{ __SELF__.group }}
        </p>
    </div>
{% endif %}
