{%  set events = __SELF__.events %}

{% if events.count > 0 %}
    {% for index,event in events %}
        <event-card
            class="my-3"
            started-at="{{ event.started_at }}"
            ended-at="{{ event.ended_at }}"

            name="{{ event.title }}"
            timezone="{{ event.timezone }}"
            link="{{ "volunteer/event" | page({slug: event.slug}) }}"
            location="{{ event.location }}"
        >
            <p class="description">
                {{ str_limit(event.description, 100)}}
            </p>
        </event-card>
    {% endfor %}
{% else %}
    <div class="d-flex flex-column bg-white shadow rounded align-items-center p-5 my-5" style="width: 480px">
        <i class="fas fa-calendar fa-3x text-primary"></i>
        <p class="my-3">There is no events at the moment.</p>
    </div>

{% endif %}
