<form
    data-request-validate="1"
    data-request-flash="1"

    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-redirect="{{ __SELF__.getRedirectUrl() }}">
    <h2 class="text-primary headline-light-bold small py-2">Password Recovery</h2>

    <div class="text-field-control my-1">
        <label  for="reset_password_code">CODE</label>

        <input name="code" id="reset_password_code" type="text"  class="text-field" readonly value="{{ __SELF__.code }}"/>

    </div>
    <small class="text-danger visible" data-validate-for="code"></small>

    <div class="text-field-control my-1">
        <label  for="new_password">NEW PASSWORD</label>

        <input name="password" id="new_password" type="password"  class="text-field "/>
    </div>
    <small class="text-danger visible" data-validate-for="password"></small>

    <div class="text-field-control my-1">
        <label  for="new_password_confirmation">NEW PASSWORD CONFIRMATION</label>

        <input name="password_confirmation" id="new_password_confirmation" type="password"  class="text-field "/>
    </div>
    <small class="text-danger visible" data-validate-for="password_confirmation"></small>

    <div class="d-flex flex-row justify-content-between my-2">
        <a href="{{ 'login/volunteer' | page }}" class="text-link">Back To Login Page</a>


    </div>
    <button class="btn btn-primary rounded w-100 my-3">CHANGE PASSWORD</button>
</form>
