{% set slider = __SELF__.slider %}


{% if slider %}


    <carousel>
    {% for slide in slider.slides %}
        <slide
            :show="true"
            image="{{ slide.image }}"
            title="{{ slide.title }}"
            caption="{{ slide.caption }}"
            title-animation="{{ slide.titleAnimation }}"
            caption-animation="{{ slide.captionAnimation }}"
            show-primary-action-button="{{ slide.showPrimaryActionButton }}"
            primary-action-button-text="{{ slide.primaryActionButtonText }}"
            primary-action-button-link="{{ slide.primaryActionButtonLink }}"
            primary-action-button-type="{{ slide.primaryActionButtonType }}"
            show-secondary-action-button="{{ slide.showSecondaryActionButton }}"
            secondary-action-button-text="{{ slide.secondaryActionButtonText }}"
            secondary-action-button-type="{{ slide.secondaryActionButtonType }}"
            secondary-action-button-link="{{ slide.secondaryActionButtonLink }}"
        >

        </slide>

    {%  endfor %}
</carousel>

{% else %}
    <div class="alert alert-danger mx-3 my-2 mt-5">
        <h6>No Slide get specified in component properties</h6>
        <p>Please select a slide label in {{  __SELF__.name }} component.</p>
    </div>
{% endif %}
