{% set slider = __SELF__.slider %}

{% if slider %}

    <carousel v-slot:default="carousel"
        :show-indicator="{{ slider.show_indicator ? 'true' : 'false' }}"
        indicator-class="{{ slider.indicator_inactive_class }}"
        indicator-active-class="{{ slider.indicator_active_class }}"
        :autoplay="{{ slider.autoplay ? 'true' : 'false' }}"
        :interval="{{ slider.interval }}"
        :show-navigation="{{ slider.show_navigation ? 'true' : 'false' }}"
        :auto-hide-navigation="{{ slider.autohide_navigation_control ? 'true' : 'false' }}"
              navigation-control-shape="{{ slider.navigation_control_shape }}"
              navigation-next-icon="{{ slider.navigation_next_icon }}"
              navigation-prev-icon="{{ slider.navigation_prev_icon }}"
              navigation-icon-color="{{ slider.navigation_color }}"
              navigation-control-bg-color="{{ slider.navigation_control_bg_color}}"
              next-slide-animation="{{ slider.next_slide_animation }}"
              prev-slide-animation="{{ slider.prev_slide_animation }}"
    >

    {% for index, slide in slider.slides %}
        <slide
            :show="carousel.carouselState.currentSlide == {{ index }}"
            slide-id="{{ index }}"
            image="{{ slide.image }}"
            title="{{ slide.title }}"
            caption="{{ slide.caption }}"
            title-animation="{{ slide.titleAnimation }}"
            caption-animation="{{ slide.captionAnimation }}"
            show-primary-action-button="{{ slide.showPrimaryActionButton }}"
            primary-action-button-text="{{ slide.primaryActionButtonText }}"
            primary-action-button-link="{{ slide.primaryActionButtonLink }}"
            primary-action-button-type="{{ slide.primaryActionButtonType }}"
            show-secondary-action-button="{{ slide.showSecondaryActionButton }}"
            secondary-action-button-text="{{ slide.secondaryActionButtonText }}"
            secondary-action-button-type="{{ slide.secondaryActionButtonType }}"
            secondary-action-button-link="{{ slide.secondaryActionButtonLink }}"
        >

        </slide>

    {%  endfor %}
    </carousel>

{% else %}
    <div class="alert alert-danger mx-3 my-2 mt-5">
        <h6>No Slide get specified in component properties</h6>
        <p>Please select a slide label in {{  __SELF__.name }} component.</p>
    </div>
{% endif %}
