<div class="d-flex flex-row flex-wrap m-3">
    {% if product.images is not empty %}
    <div class="col-12 col-md-6 col-lg-6 overflow-hidden">
        <image-gallery
        data-image="{{ __SELF__.product.featured_image | media  }}"
        image="{{ __SELF__.product.featured_image | media | lazyload(480, 480, {quality: 35, blur: '15'})}}"
        >
                {% for index,image in product.images %}
                    <image-thumbnail
                        index="index"
                        data-image="{{ image.image | media }}"
                        image="{{  image.image | media | lazyload(150, 150, {quality: 35, blur: '15'}) }}"
                    >

                    </image-thumbnail>
                {% endfor %}
        </image-gallery>
    </div>

    {%  endif %}
    <div class="col-12 {{ product.images is not empty ? 'col-md-6 col-lg-6' : null }}  my-3">

            <h1 class="text-primary">
                {{ product.name }}
            </h1>
            <h2 class="text-secondary">
                <i class="fas fa-dollar-sign"></i>
                {{ product.price_tag }}
            </h2>
        <div class="d-inline-flex text-primary" >
            <strong class="mr-1">Produced by:</strong>
            <a class="text-link" href="{{ "producer/products"  | page({slug: product.producer.slug}) }}">{{ product.producer.name }}</a>
        </div>
        <hr class="separator">
        {% if __SElF__.product.description != "" %}
        <div  style="word-break: break-word">
            <h3 class="text-primary">Product Description</h3>
            {{ product.description | raw }}
        </div>
        {% endif %}
    </div>
    {% if __SELF__.product.features is not empty %}
    <div class="col-12 my-3">
        <h3 class="text-primary my-3">Product Feature</h3>
            {% for feature in product.features %}
                <div class="d-flex flex-column">
                    <h5 class="text-light-dark font-weight-bold">{{ feature.title }}</h5>
                    <div class="content" style="word-break: break-word">
                        {{ feature.description | raw }}
                    </div>
                </div>
                <hr class="separator">
            {% endfor %}

    </div>

    {% endif %}
    {% if product.video_playlist  %}
        <div class="col-12 my-3">
            <h3 class="text-primary my-3">Product Videos</h3>
            <video-gallery
                default-video="{{ __SELF__.product.video_playlist.videos[0]}}"


                :autoplay="false"

                playlist-name="{{ product.video_playlist.name }}"
                v-slot="{playerState}"

            >


                {% for video in product.video_playlist.videos %}

                    <video-thumbnail class="my-3 mx-1"
                         key="{{ video.id }}"
                         description="{{ str_words(video.description , 15) }}"
                         :duration="{{ video.duration }}"
                         title="{{ video.title }}"
                         featured-image-url="{{ video.featured_image_url }}"
                         embed-id="{{ video.embed_id }}"
                         video-url="{{ video.video_url }}"
                         type="{{video.type}}"
                         @click="playerState.setCurrentPlaying"
                         :is-playing="playerState.currentPlaying != null && playerState.currentPlaying.embed_id === '{{ video.embed_id }}' && playerState.currentPlaying.type === '{{ video.type }}'"
                         @paused="playerState.pausePlayer"
                    >
                    </video-thumbnail>
                {% endfor %}
            </video-gallery>

        </div>
    {% endif %}
</div>
