<div class="d-flex flex-row justify-content-around align-items-stretch flex-wrap my-3 ">
    <div class="col-12  col-lg-12">
        <producer-card
            origin="{{ __SELF__.producer.origin }}"
            name="{{ __SELF__.producer.name }}"
            :hoverable="false"
            image="{{ __SELF__.producer.featured_image | media |  resize(350, null, {quality: '15', blur : 15}) }}"
            data-image="{{ __SELF__.producer.featured_image | media }}"
            :scalable="true"
        >
        </producer-card>
    </div>
    <div class="col-12  col-lg-12 my-3 mx-0 px-0">
        <h3 class="text-primary heading small mx-3">{{ __SELF__.producer.name }}'s Products Catalogue</h3>
        {% if __SELF__.products.items()  is not empty %}

                <div class="d-flex flex-wrap py-3" id="product_list">
                    {% for product in __SELF__.products.items() %}
                        <div class="col-12 col-md-6 col-lg-4 ">
                            <product-card
                                class="my-2"
                                data-image="{{ product.featured_image ? product.featured_image | media : null }}"
                                image="{{ product.featured_image ? product.featured_image | media  |  resize(350, null, {quality: '15', blur : 15}) : null  }}"
                                features="{{ product.features | json_encode }}"
                                name="{{ product.name }}"
                                price="{{ product.price_tag }}"
                            >

                                <template slot="actions">
                                        <a href="" class="d-flex align-items-center flex-grow-1 justify-content-center  btn btn-primary rounded m-2 hover-move-right">
                                            Read More
                                        <i class="fas fa-chevron-right ml-2"></i>
                                        </a>
                                </template>
                            </product-card>
                        </div>

                    {% endfor %}
                </div>


        {% else %}
                <div class="d-flex flex-column  align-items-center justify-content-center my-5">
                    <i class="fas fa-shopping-bag fa-3x text-primary"></i>
                    <p class="my-3">There is no products at the moment.</p>
                </div>
        {% endif %}
    </div>
</div>
