{% set posts = __SELF__.posts %}


<div class="d-flex flex-row justify-content-lg-between justify-content-around p-5 flex-wrap">
    {% for post in posts %}
        <announcement-basic-card
            :key="{{ post.id }}"
            title="{{ post.title }}"
            author="{{ post.user.full_name }}"
            published-on="{{ post.created_at | date("D, Y-M-d. h:i:s a")}}"
            description="{{ str_words(post.summary, 20) }}"
        >
            <div class="flametree-theme d-flex flex-grow-1 flex-sm-grow-0">
                <a class="btn btn-primary hover-move-right w-100 my-2" href="{{ post.url }}">READ MORE
                <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </announcement-basic-card>
    {% endfor %}
</div>
