{% set posts = __SELF__.posts %}


<div class="d-flex flex-row flex-wrap  justify-content-around">
    {% for post in posts %}
            <announcement-basic-card
                class="my-1"
                :key="{{ post.id }}"
                title="{{ post.title }}"
                author="{{ post.user.full_name }}"
                :published-on="$tzConverter.convert('{{  post.created_at }}', 'dddd, MMM D Y hh:mm a')"
                description="{{ str_limit(post.excerpt, 120)  }}"
            >
                <div class="flametree-theme d-flex flex-grow-1 flex-sm-grow-0">
                    <a class="btn btn-primary rounded hover-move-right w-100 my-2" target="_blank" href="{{ "blog/announcement" | page({slug: post.slug}) }}">READ MORE
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </announcement-basic-card>
    {% endfor %}
</div>
