{% set posts = __SELF__.posts %}


<div class="d-flex flex-row flex-wrap  justify-content-around ">
    {% for post in posts %}
            <announcement-basic-card
                class="m-1 flex-grow-1 align-items-baseline"
                :key="{{ post.id }}"
                title="{{ post.title }}"
                author="{{ post.user.full_name }}"
                :published-on="$tzConverter.convert('{{  post.created_at }}', 'dddd, MMM D Y hh:mm a')"
                description="{{ str_limit(post.excerpt, 120)  }}"
            >
                <div class="d-flex align-self-center mt-auto mb-3">
                    <a class="btn btn-primary rounded px-5" target="_blank" href="{{ "blog/announcement" | page({slug: post.slug}) }}">READ MORE
                    </a>
                </div>



            </announcement-basic-card>
    {% endfor %}
</div>
