
<div class="d-flex flex-row align-items-baseline flex-wrap-reverse   m-3">
    <div class="d-flex flex-column col-12 col-lg-3">
    {% if timelines %}

        <list-view heading="TIMELINE" >
            {% for timeline in timelines %}
                <list
                    leading="{{ timeline.timeline_label }}"
                    :is-active="{{ (__SELF__.selectedTimeLine == "01-" ~ timeline.timeline_value) ? "true" : "false"  }}"
                    trailing="{{ timeline.count ~ " events"}}"
                    link="{{ app ~ "?" ~ monthname_key ~ "=01-" ~ timeline.timeline_value}}"
                >

                </list>
            {% endfor %}
        </list-view>
    {% endif %}
    </div>
        {% if events.count() > 0 %}
            <div class="d-flex flex-column col-12 col-lg-9 flex-grow-1" >
                {% for index,event in events %}
                    <event-card
                        class="my-3 mx-1"
                        started-at="{{ event.started_at }}"
                        ended-at="{{ event.ended_at }}"

                        name="{{ event.title }}"
                        timezone="{{ event.timezone }}"
                        link="{{ __SELF__.getEventPageUrl(event.slug) }}"
                        ics-link="{{ event.ics.getPath() }}"
                        location="{{ event.location }}"
                    >
                        <p class="description">
                            {{ str_limit(event.description, 100)}}
                        </p>
                    </event-card>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-flex flex-column col-12 col-lg-9 align-items-center">
                <i class="fas fa-calendar fa-3x text-primary"></i>
                <p class="my-3">There is no events at the moment.</p>
            </div>

        {% endif %}

</div>
