{%  if __SELF__.posts is not empty %}
    {% for announcement in __SELF__.posts %}
          <announcement-list-card
              key="{{ announcement.id }}"
              class="col-12 col-md-10 col-lg-9"
              title="{{ announcement.title }}"
              featured-image-url="{{ announcement.featured_images[0].getLocalPath() | resize(640, null) }}"
              data-featured-image-url="{{ announcement.featured_images[0].path }}"
              description="{{ str_words(announcement.summary, 20) }}"
              author="{{ announcement.user.full_name }}"
              author-avatar-image="{{ announcement.user.getAvatarThumb(35) }}"
              author-role="{{ announcement.user.role.name }}"
              :published-on="$tzConverter.convert('{{  announcement.published_at }}', 'dddd, MMM D Y hh:mm a')"
          >
              <div class="d-flex flex-column flex-wrap justify-content-between mt-5">
                  {% if announcement.categories is not empty %}
                      <div class="d-flex align-items-center flex-row">
                          <i class="text-primary fas fa-tags mr-2"></i>
                          {% for index, category in announcement.categories %}
                              <a target="_blank" class="text-link" href="{{ 'volunteer/announcement-category' | page({category: category.slug}) }}">
                                  {{ category.name }}
                              </a>
                              {% if index != announcement.categories | length -1 %}
                                  <span>,&nbsp;</span>
                              {% endif %}
                          {% endfor %}
                      </div>
                  {% endif %}

                  <a class="btn btn-primary text-uppercase hover-move-right my-2 rounded" href="{{ "volunteer/announcement" | page({slug: announcement.slug}) }}">
                      READ MORE
                      <i class="fas fa-chevron-right"></i>
                  </a>
              </div>
          </announcement-list-card>

    {% endfor %}

    <div class="col-12 col-md-10 col-lg-9 align-self-center">

        <dropdown-pagination
            current-page="{{ __SELF__.posts.currentPage() }}"
            page-param="page"
            per-page="{{ __SELF__.posts.perPage() }}"
            prev-page-url="{{ __SELF__.posts.previousPageUrl() }}"
            next-page-url="{{ __SELF__.posts.nextPageUrl() }}"
            url="{{ this.page.url | app }}"
            total="{{ __SELF__.posts.total() }}"
            @change="(e) => {
                    $window.location.href = e.target.value;
                }"
        >

        </dropdown-pagination>
    </div>


{% else %}


    <div class="d-flex flex-column align-items-center p-5 my-5">
        <i class="fas fa-bell fa-3x text-primary"></i>
        <p class="my-3">There is no announcements right now.</p>
    </div>
{%  endif %}

