{%  if __SELF__.posts %}
    {% for announcement in __SELF__.posts %}
        <announcement-list-card
            key="{{ announcement.id }}"

            title="{{ announcement.title }}"
            featured-image-url="{{ announcement.featured_images[0].getLocalPath() | resize(640, null) }}"
            data-featured-image-url="{{ announcement.featured_images[0].path }}"
            description="{{ str_words(announcement.summary, 20) }}"
            author="{{ announcement.user.full_name }}"
            author-avatar-image="{{ announcement.user.getAvatarThumb(35) }}"
            author-role="{{ announcement.user.role.name }}"
            published-on="{{ announcement.published_at | date("D, d M Y. h:i a") }}"
        >
            <div class="d-flex flex-column flex-wrap justify-content-between mt-5">
                {% if announcement.categories is not empty %}
                    <div class="d-flex align-items-center flex-row">
                        <i class="text-primary fas fa-tags mr-2"></i>
                        {% for index, category in announcement.categories %}
                            <a target="_blank" class="text-link" href="{{ 'volunteer/announcement-category' | page({category: category.slug}) }}">
                                {{ category.name }}
                            </a>
                            {% if index != announcement.categories | length -1 %}
                                <span>,&nbsp;</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <a class="btn btn-primary text-uppercase hover-move-right my-2 rounded" href="{{ "volunteer/announcement" | page({slug: announcement.slug}) }}">
                    READ MORE
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </announcement-list-card>

    {% endfor %}

    <div class="d-flex justify-content-around mx-5">
        <dropdown-pagination
            current-page="{{ __SELF__.posts.currentPage() }}"
            page-param="page"
            per-page="{{ __SELF__.posts.perPage() }}"
            prev-page-url="{{ __SELF__.posts.previousPageUrl() }}"
            next-page-url="{{ __SELF__.posts.nextPageUrl() }}"
            url="{{ this.page.url | app }}"
            total="{{ __SELF__.posts.total() }}"
            @change="(e) => {
                    $window.location.href = e.target.value;
                }"
        >

        </dropdown-pagination>
    </div>


{% else %}

    {{ __SELF__.noPostsMessage}}

{%  endif %}

