{{ form_ajax(__SELF__~'::onUpdate', { 'data-request-validate' : true, 'data-request-flash': true , 'files' : true}) }}

<div class="d-flex flex-shrink-1 flex-column align-items-center flex-wrap  p-5 ">



    <div class="d-flex flex-column justify-content-between">

        <upload-avatar

            default-avatar-url="{{ __SELF__.user.getAvatarThumb(150) }}"
            field-name="avatar"
        >
        </upload-avatar>

        <h4 class="headline-light-bold small my-5 align-self-center">{{ __SELF__.user.surname }} {{ __SELF__.user.name }}</h4>

        <div class="text-field-control my-1">
            <label for="name" class="text-uppercase">Name</label>
            <input type="text" id="name" name="name" class="text-field" value="{{ __SELF__.user.name }}">
        </div>
        <small class="text-danger" data-validate-for="name"></small>

        <div class="text-field-control my-1">
            <label for="surname" class="text-uppercase">Surname</label>
            <input type="text" id="surname" name="surname" class="text-field" value="{{ __SELF__.user.surname }}">
        </div>
        <small class="text-danger" data-validate-for="surname"></small>

        <div class="text-field-control my-1">
            <label for="email" class="text-uppercase">Email</label>

            <input type="text" id="email" class="text-field" value="{{ __SELF__.user.email }}" readonly>

        </div>

        <small class="text-primary">For security reason the email only can be updated by the administrator</small>
        <div class="text-field-control my-1">
            <label for="phone_number" class="text-uppercase">Phone Number</label>

            <input type="text" id="phone_number" name="phone_number" class="text-field"
                   value="{{ __SELF__.user.godspeed_essentials_phone_number }}">

        </div>
        <small class="text-danger" data-validate-for="phone_number"></small>

        <div  id="change-password-form"></div>

        <div class="checkbox-field-control my-3">
            <input type="checkbox" name="reset_password" id="reset_password"
                   data-request="{{ __SELF__ ~"::onToggleShowPasswordForm" }}"/>
            <label for="reset_password" class="text-uppercase">I would like to change my password</label>

        </div>
        <div class="d-flex justify-content-center my-3 flex-row flex-wrap">
            <button class="btn btn-primary  rounded-pill mx-1 col ">Save Changes</button>
            <button class="btn btn-secondary rounded-pill mx-1 col text-uppercase" type="reset"> Reset</button>
        </div>

    </div>


</div>
{{ form_close() }}

